---
import SimpleBlockContent from "./SimpleBlockContent.astro"
const { text, footerNavigation } = Astro.props
---

<div class="bg-[#274690] pb-8 px-4">
    <div class="w-full max-w-6xl px-4 pt-8 pb-12 bg-[#252525] rounded-b-lg m-auto">
        <div class="max-w-6xl m-auto text-white text-center px-4">
            <SimpleBlockContent blocks={text} />
            <div class="mt-2 h-0 w-60 border-b-4 border-solid border-white m-auto"></div>
            <div class="mt-4 flex justify-center items-center flex-wrap">
                {footerNavigation.map(r => (<a class="font-semibold ml-2 capitalize" href={r.slug.current}>{r.slug.current}</a>))}
            </div>
        </div>
        
    </div>
</div>