---
    const { routes } = Astro.props;
    const capitalize = (slug) => {
      return slug.charAt(0).toUpperCase() + slug.slice(1);
    }
---

<nav class="w-full sticky top-0 z-10 py-4 bg-[#274690]">
    <div class="px-4 max-w-6xl m-auto flex justify-between items-center text-[#F5F3F5]">
        <div>
            <a class="font-semibold" href="/">Home</a>
        </div>
        <div>
            {routes.map(r => <a class="font-semibold ml-2" href={r.slug.current}>{capitalize(r.slug.current)}</a>)}
        </div>  
    </div>
</nav>

