@keyframes fadeIn {
  from { opacity: 0; top: -50px; }
  to { opacity: 1; top: 50%; }
}

/* Animation for the dark background (backdrop) */
@keyframes backdropFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

button {
    cursor: pointer
}
.orderModal {
  border: none;
  border-radius: 12px;
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Apply animations when the dialog is open */
.orderModal[open] {
  animation: fadeIn 0.3s ease-out forwards;
}

.orderModal[open]::backdrop {
  background: rgba(0, 0, 0, 0.6);
  animation: backdropFade 0.3s ease-out forwards;
}